<template>
  <div>
    <PetTable
      species="Cats"
      :pets="cats"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import PetTable from '../components/PetTable'

export default {
  components: {
    PetTable
  },
  computed: {
    ...mapState([
      'cats'
    ])
  }
}
</script>
